/********************************************************************************
 Copyright (C) 2014 Append Huang <Append@gmail.com>

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
********************************************************************************/
//
#include "resource.h"
#include "winresrc.h"

#ifndef IDC_STATIC
	#define IDC_STATIC (-1)
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CONFIG DIALOGEX 0, 0, 372, 330
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sources.TextSource"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
{
    RTEXT           "Sources.TextSource.Font",IDC_STATIC,9,9,82,8
    COMBOBOX        IDC_FONT,93,7,120,30,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    RTEXT           "Sources.TextSource.FontSize",IDC_STATIC,218,9,88,8
    EDITTEXT        IDC_TEXTSIZE_EDIT,308,7,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_TEXTSIZE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,350,7,10,14
    RTEXT           "Sources.BitmapSource.Color",IDC_STATIC,9,27,82,8
    CONTROL         "",IDC_COLOR,"OBSColorControl",WS_TABSTOP,93,24,33,14
    RTEXT           "Sources.BitmapSource.Opacity",IDC_STATIC,9,46,82,8
    EDITTEXT        IDC_TEXTOPACITY_EDIT,93,43,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_TEXTOPACITY,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,132,43,10,14
    RTEXT           "Sources.TextSource.ScrollSpeed",IDC_STATIC,9,64,82,8
    EDITTEXT        IDC_SCROLLSPEED_EDIT,93,61,40,14,ES_AUTOHSCROLL
    CONTROL         "",IDC_SCROLLSPEED,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,132,61,10,14
    RTEXT           "Sources.TextSource.BackgroundColor",IDC_STATIC,9,83,82,8
    CONTROL         "",IDC_BACKGROUNDCOLOR,"OBSColorControl",WS_TABSTOP,93,80,33,14
    RTEXT           "Sources.TextSource.BackgroundOpacity",IDC_STATIC,9,102,82,8
    EDITTEXT        IDC_BACKGROUNDOPACITY_EDIT,93,99,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_BACKGROUNDOPACITY,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,132,99,11,14
    CONTROL         "Sources.TextSource.UseOutline",IDC_USEOUTLINE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,118,149,10
    RTEXT           "Sources.BitmapSource.Color",IDC_STATIC,9,135,82,8
    CONTROL         "",IDC_OUTLINECOLOR,"OBSColorControl",WS_TABSTOP,93,132,33,14
    RTEXT           "Sources.TextSource.OutlineThickness",IDC_STATIC,9,153,82,8
    EDITTEXT        IDC_OUTLINETHICKNESS_EDIT,93,150,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_OUTLINETHICKNESS,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,132,150,11,14
    RTEXT           "Sources.BitmapSource.Opacity",IDC_STATIC,9,171,82,8
    EDITTEXT        IDC_OUTLINEOPACITY_EDIT,93,168,40,14,ES_AUTOHSCROLL
    CONTROL         "",IDC_OUTLINEOPACITY,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,132,168,10,14
    CONTROL         "Sources.TextSource.Bold",IDC_BOLD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,154,24,164,10,WS_EX_RIGHT
    CONTROL         "Sources.TextSource.Italic",IDC_ITALIC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,154,38,164,10,WS_EX_RIGHT
    CONTROL         "Sources.TextSource.Underline",IDC_UNDERLINE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,154,52,164,10,WS_EX_RIGHT
    RTEXT	        "Sources.TextSource.UseTextExtents",IDC_STATIC,173,118,175,10
    RTEXT           "Sources.TextSource.Size",IDC_STATIC,175,136,82,8
    EDITTEXT        IDC_EXTENTWIDTH_EDIT,259,134,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_EXTENTWIDTH,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,299,134,10,14
    EDITTEXT        IDC_EXTENTHEIGHT_EDIT,313,134,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_EXTENTHEIGHT,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,354,134,10,14
    PUSHBUTTON      "OK",IDOK,261,309,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,315,309,50,14
    CONTROL         "Sources.SoftwareCaptureSource.PointFiltering",IDC_POINTFILTERING,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,154,66,164,10,WS_EX_RIGHT
    EDITTEXT        IDC_NUMOFLINES_EDIT,259,80,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NUMOFLINES,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,299,83,10,14
	RTEXT           "Number of Lines",IDC_STATIC,175,85,82,8
	RTEXT           "IRC Server",IDC_STATIC,10,202,50,8
    COMBOBOX        IDC_IRCSERVER,63,200,200,20,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	RTEXT           "Port",IDC_STATIC,270,202,32,8
    COMBOBOX        IDC_PORT,308,200,40,20,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	RTEXT           "Nickname",IDC_STATIC,10,222,50,8
    EDITTEXT        IDC_NICKNAME,63,220,200,14,ES_AUTOHSCROLL 
	RTEXT           "Password",IDC_STATIC,10,242,50,8
    EDITTEXT        IDC_PASSWORD,63,240,200,14,ES_AUTOHSCROLL 
	RTEXT           "Channel  #",IDC_STATIC,10,262,50,8
    EDITTEXT        IDC_CHANNEL,63,260,200,14,ES_AUTOHSCROLL 

}
